:root{
    --gold500: hsl(31, 77%, 52%);
    --cyan800: hsl(184, 100%, 22%);
    --green950: hsl(179, 100%, 13%);

            /* ### Neutral */

    --transparentWhite : hsla(0, 0%, 100%, 0.75); /*(paragraphs)*/
    --gray100 : hsl(0, 0%, 95%); /*(background, headings, buttons)*/
}
.container{
    border-radius: 10px;
    overflow-y: hidden;
}
.innerCon:nth-child(1){
    padding-right: 100px;
    background-color: var(--gold500);
}
.innerCon:nth-child(2){
    background-color: var(--cyan800);
}
.innerCon:nth-child(3){
    background-color: var(--green950);
}